In [1]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')

In [2]:
db.insert({'type': 'apple', 'count': 7})
db.insert({'type': 'peach', 'count': 3})

2

In [3]:
db.all()

[{u'count': 7, u'type': u'apple'}, {u'count': 3, u'type': u'peach'}]

In [4]:
Fruit = Query()
db.search(Fruit.type == 'peach')

[{u'count': 3, u'type': u'peach'}]

In [5]:
db.search(Fruit.count > 5)

[{u'count': 7, u'type': u'apple'}]

In [6]:
db.update({'count': 10}, Fruit.type == 'apple')
db.all()

[{u'count': 10, u'type': u'apple'}, {u'count': 3, u'type': u'peach'}]

In [7]:
db.remove(Fruit.count < 5)
db.all()

[{u'count': 10, u'type': u'apple'}]

In [8]:
db.purge()
db.all()

[]

In [9]:
from tinydb import Query
User = Query()
db.search(User.name == 'John')

[]

In [10]:
db.search(User.birthday.year == 1990)

[]

In [11]:
# db.search(User.country-code == 'foo') is invalid syntax! instead:
db.search(User['country-code'] == 'foo')

[]

In [12]:
from tinydb import where
db.search(where('field') == 'value')

[]

In [13]:
# db.search(where('field') == 'value') is shorthand for:
db.search(Query()['field'] == 'value')

[]

In [14]:
db.search(User.name.exists())

[]

In [15]:
db.search(User.name.matches('[aZ]*'))
db.search(User.name.search('b+'))

[]

In [16]:
test_func = lambda s: s == 'John'
db.search(User.name.test(test_func))

[]

In [17]:
def test_func(val, m, n):
    return m <= val <= n
db.search(User.age.test(test_func,  0, 21))
db.search(User.age.test(test_func, 21, 99))

[]

In [18]:
db.search(User.groups.any(Group.name == 'admin')) # member of   1+ admin group
db.search(User.groups.all(Group.name == 'admin')) # member of just admin group

NameError: name 'Group' is not defined

In [19]:
db.search(User.groups.any(['admin', 'user']))
db.search(User.groups.all(['admin', 'user']))

[]

In [22]:
db.search(~ User.name == 'John')

TypeError: bad operand type for unary ~: 'Query'

In [23]:
db.search((User.name == 'John') & (User.age <= 30)) # wrap conditions in parens!

[]

In [24]:
db.search((User.name == 'John') | (User.age <= 30)) # wrap conditions in parens!

[]